body {
  background-image: url('teemo1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  padding: 15px 15px; 
  font-size: 30px;
  color: #ff00bf;
  overflow: hidden; 
  background-color: #ffffff49; 
  text-align: center;
  
}
nav a {
  color: #ff00bf;
  text-decoration: none; 
  padding: 0px 40px;
}
nav a:hover {
  background-color: #ffffff61;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  color: blueviolet;
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px #060000;
  
}
footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  color: #ffffff;
}
