body {
  margin: 10px;
  padding: 0;
  background-image: url('teemo1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  margin: 0px;
  padding: 0;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden; 
  text-align: center;
  

}
nav a {
  color: #eeeded;
  text-shadow: 1px 1px #00000079;
  text-decoration: none; 
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #ffffff1c;
}
/*Hover väri*/
nav a:hover {
  background-color: #d1bebe;
}

/*Näyttää millä sivulla olet */
.active {
  background-color: #04AA6D;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  color: #eeeded;
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px #ffffff1e;
  
}

p{
  font-size: 37px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
  color: blueviolet;
  text-align: center;
  text-shadow: 1px 1px #000000;
}
footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  color: #000000;
}
