body {
  background-image: url('teemo1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  color: #ffffff;
}
